<style>

MSOZoneCell_WebPartWPQ3 .div,
MSOZoneCell_WebPartWPQ4 .div,
MSOZoneCell_WebPartWPQ6 .div {
    width: 100px;
    margin: 30px;
}

MSOZoneCell_WebPartWPQ3 .h2,
MSOZoneCell_WebPartWPQ4 .h2,
,
MSOZoneCell_WebPartWPQ6 .h2 {
    font: 500 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

MSOZoneCell_WebPartWPQ3 .ul,
MSOZoneCell_WebPartWPQ4 .ul,
,
MSOZoneCell_WebPartWPQ6 .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

MSOZoneCell_WebPartWPQ3 .li,
MSOZoneCell_WebPartWPQ4 .li,
MSOZoneCell_WebPartWPQ6 .li {
    font: 50 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

MSOZoneCell_WebPartWPQ3 .li:last-child,
MSOZoneCell_WebPartWPQ4 .li:last-child,
MSOZoneCell_WebPartWPQ6 .li:last-child {
    border: none;
}

MSOZoneCell_WebPartWPQ3 li a,
MSOZoneCell_WebPartWPQ4 li a,
MSOZoneCell_WebPartWPQ6 li a {
    text-decoration: none;
    color: #000;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 100px;
    z-index: 1;
}

#MSOZoneCell_WebPartWPQ3 li a:hover,
#MSOZoneCell_WebPartWPQ4 li a:hover,
#MSOZoneCell_WebPartWPQ6 li a:hover {
    font-size: 16px;
    z-index: 10;
    width: 500px;
    font-weight: bold;
    /*   background-color: rgba(0,0,0,0.5);   #f6f6f6;   Black fallback color  background:  #e7e7e7;  background-color:#e7e7e7;   */
    transition: 0.5s;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: opacity 500ms;
    position: relative;
    -webkit-transition: border-radius 2s;
}

#MSOZoneCell_WebPartWPQ3 li a,
#MSOZoneCell_WebPartWPQ4 li a,
,
#MSOZoneCell_WebPartWPQ6 li a {
    /* HOVER OFF */
    -webkit-transition: padding 2s;
}

/*
.ms-webpart-zone ms-fullWidth, .ms-webpart-chrome-title {
    width: 900px;
}*/

#MSOZoneCell_WebPartWPQ3 .link-item,
#MSOZoneCell_WebPartWPQ4 .link-item,
#MSOZoneCell_WebPartWPQ6 .link-item {
    text-decoration: none;
    !important;
    color: #000;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 100%;
    line-height: 250%;
    font-size: 12px;
}


#MSOZoneCell_WebPartWPQ3 .link-item a:link,
#MSOZoneCell_WebPartWPQ4 .link-item a:link,
#MSOZoneCell_WebPartWPQ6 .link-item a:link {
    text-decoration: none !important;
}


.band {
    color: rgba(0, 92, 158, 1);
    font-size: 16.8px !important;
    text-align: center;
}

MSOZoneCell_WebPartWPQ3 a {
    text-decoration: none !important;
    color: rgba(0, 92, 158, 1);
    font-size: 16.8px !important;
}

.js-webpart-titleCell,
.ms-webpart-titleText,
.ms-webpart-chrome-title h2,
.ms-webpart-chrome-title {
    background: #00529c!important;
}

.ms-pagebreadcrumb {
    display: none;
}

</style>